#global-footer {
	background-color: $brown;
	color: $white;

	.widget-area {
		padding: 2em 0;

		h1 {
			color: $white;
			font-size: 1.5em;
			font-weight: 800;
		}

		.columns {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			ul {
				list-style: none;
				margin: 2em 0 0;
				display: flex;
				align-items: center;

				li {
					margin-right: 0.5em;

					a {
						display: block;
						line-height: 0;
					}
				}
			}
		}

		.contact {
			.social-media {
				li {
					width: 1.5em;
					margin-right: 0.5em;

					svg {
						fill: $white;
					}
				}
			}
		}

		.powered-by {
			ul {
				li {
					width: 4em;
					margin-right: 0.5em;

					.wordpress {
						fill: $white;
					}
				}
			}
		}
	}

	#copywrite {
		padding: 0 0 2em;

		.row {
			border-top: 1px solid lighten($brown, 10%);
			padding-top: 2em;

			.columns {
				text-align: center;

				.logo-header-mobile {
					background-color: $white;
					fill: $brown;
					width: 4em;
				}

				#copyline {
					margin: 0;
					color: $white;
				}
			}
		}
	}
}
