html {
	font-size: 1em;
}

::selection {
	background-color: map-get($foundation-palette, 'primary');
	color: $white;
}

strong {
	font-weight: 800;
}

a {
	color: map-get($foundation-palette, 'primary');
}

p {
	font-weight: 100;
	line-height: 2em;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	overflow: auto;
	box-sizing: border-box;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.mobile {
  	@include mobile;
}

.tablet {
  	@include tablet;
}

.desktop {
  	@include desktop;
}

#container {
  margin-top: $header-height;
}
