#global-header {
	position: fixed;
	display: flex;
	height: $header-height;
	width: 100vw;
  overflow: visible;

  .gap {
    	background-color: map-get($foundation-palette, 'primary');

    &.desktop-padding {
      @include breakpoint(medium only) {
        	width: $mobile-gap;
      }

      @include breakpoint(large xlarge) {
        	width: calc((100vw - #{$global-width}) / 2);
      }
    	}

    	&.desktop-middle {
      	flex-grow: 1;
    	}

    	&.mobile-left {
      @include breakpoint(medium down) {
        	flex-grow: 1;
      }
    	}

    	&.mobile-right {
      @include breakpoint(medium down) {
        	width: $header-height;
      	}
    	}
  }

  .logo {
    svg {
      height: $header-height;
      fill: map-get($foundation-palette, 'primary');
      background-color: $black;
      transition: background-color 0.5s ease-in-out;

      .scrolled & {
        background-color: transparent;
      }

      &.desktop {

      }
    }
  }

  .menu {
    	background-color: map-get($foundation-palette, 'primary');
    	padding-left: 10px;

    li {
      	a {
        	color: $black;
        padding: 0 1rem;
        display: flex;
        height: 100%;
        align-items: center;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: darken(map-get($foundation-palette, 'primary'), 15%);
        }
      	}
    }

    @include breakpoint(medium down) {
    position: absolute;
    padding: 0;
    height: 0;
    top: $header-height + $header-height;
    flex-direction: column;
    background: $black;
    width: 100vw;
    overflow: hidden;

      li a {
        padding: 1rem 1rem;
        color: map-get($foundation-palette, 'primary');
      }

      &.activated {
        height: auto;
      }
    }
  }

	#mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    	width: $header-height;
    	height: $header-height;
    	background-color: map-get($foundation-palette, 'primary');
    outline: none;
    	@include mobile;
    	@include tablet;

    	svg {
      	width: 20px;
    	}
  }

	#search-container {
		height: $header-height;
		width: $search-size;
		background-color: map-get($foundation-palette, 'primary');
		position: relative;
    display: flex;
    align-items: center;
    transition: width 0.3s ease-in-out;

		input {
      position: absolute;
      box-shadow: none;
      border: none;
      margin: 0;
      border-radius: $search-size;
      height: $search-size;
      padding-left: 15px;
		}

		button {
      position: absolute;
      width: $search-size;
      height: $search-size;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      outline: none;

      svg {
        width: 15px;
        fill: map-get($foundation-palette, 'primary');
      }
		}

		&.open {
  		  width: 250px;
		}

    @include breakpoint(medium down) {
    position: absolute;
    top: $header-height;
    width: 100vw;
    background-color: $black;
    height: 0;
    overflow: hidden;
    padding: 0 1rem;

    &.activated {
      height: $header-height;
    }

    input {
      width: calc(100vw - 2rem);
    }

    button {
      right: 1rem;

      svg {
        fill: $black;
      }
    }
    }
	}
}
