#global-header {
  position: fixed;
  display: flex;
  height: $header-height;
  width: 100vw;
  overflow: visible;
  z-index: 1000;

  .gap {
      background-color: map-get($foundation-palette, 'primary');

    &.desktop-padding {
      @include breakpoint(medium only) {
          width: $mobile-gap;
      }

      @include breakpoint(large xlarge) {
          width: calc((100vw - #{$global-width}) / 2);
      }
      }

      &.desktop-middle {
        flex-grow: 1;
      }

      &.mobile-left {
      @include breakpoint(medium down) {
          flex-grow: 1;
      }
      }

      &.mobile-right {
      @include breakpoint(medium down) {
          width: $header-height;
        }
      }
  }

  .logo {
    svg {
      height: $header-height;
      fill: map-get($foundation-palette, 'primary');
      background-color: $black;
      transition: background-color 0.5s ease-in-out;

      .scrolled & {
        background-color: transparent;
      }

      &.desktop {

      }
    }
  }

  .menu {
      background-color: map-get($foundation-palette, 'primary');
      padding-left: 10px;

    li {
        a {
          color: $black;
        padding: 0 1rem;
        display: flex;
        height: 100%;
        align-items: center;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: darken(map-get($foundation-palette, 'primary'), 15%);
        }
        }
    }

    @include breakpoint(medium down) {
    position: absolute;
    padding: 0;
    height: 0;
    top: $header-height + $header-height;
    flex-direction: column;
    background: $black;
    width: 100vw;
    overflow: hidden;

      li a {
        padding: 1rem 1rem;
        color: map-get($foundation-palette, 'primary');
      }

      &.activated {
        height: auto;
      }
    }
  }

  #mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
      width: $header-height;
      height: $header-height;
      background-color: map-get($foundation-palette, 'primary');
    outline: none;
      @include mobile;
      @include tablet;

      svg {
        width: 20px;
      }
  }

  #search-container {
    height: $header-height;
    width: $search-size;
    background-color: map-get($foundation-palette, 'primary');
    position: relative;
    display: flex;
    align-items: center;
    transition: width 0.3s ease-in-out;

    input {
      position: absolute;
      box-shadow: none;
      border: none;
      margin: 0;
      border-radius: $search-size;
      height: $search-size;
      padding-left: 15px;
    }

    button {
      position: absolute;
      width: $search-size;
      height: $search-size;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      outline: none;

      svg {
        width: 15px;
        fill: map-get($foundation-palette, 'primary');
      }
    }

    &.open {
        width: 250px;
    }

    @include breakpoint(medium down) {
    position: absolute;
    top: $header-height;
    width: 100vw;
    background-color: $black;
    height: 0;
    overflow: hidden;
    padding: 0 1rem;

    &.activated {
      height: $header-height;
    }

    input {
      width: calc(100vw - 2rem);
    }

    button {
      right: 1rem;

      svg {
        fill: $black;
      }
    }
    }
  }
}

.page-header-wrapper {
  height: 300px;
  overflow: hidden;
  position: relative;

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
  }

  .foreground {
    background-image: url('/images/background/dotted-dark-foreground.png');
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
  }

  .text {
    position: absolute;
    color: #fff;
    z-index: 200;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;

    h1 {
      font-size: 4em;

      @include breakpoint(small only) {
        font-size: 40px;
      }
    }

    p {
      font-size: 1.5em;
      line-height: 1.5em;
      margin-bottom: 0;

      @include breakpoint(small only) {
        font-size: 20px;
      }
    }
  }
}
