@import '~foundation-sites/scss/util/util';

$global-flexbox: true;

$foundation-palette: (
  primary: #FBD22E,
  secondary: #777,
  success: #3E854D,
  warning: #ffae00,
  alert: #ec5840,
);

$light-gray: #F6F6F6;
$medium-gray: #AAAAAA;
$black: #292929;
$brown: #412C26;

$body-background: white;

$body-font-family: 'Godo', -apple-system, BlinkMacSystemFont, 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$header-height: 48px;
$search-size: 30px;
$mobile-gap: 10px;
