.slider-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;

  & a {
    &.previousButton, &.nextButton {
      font-size: 22px;
      line-height: 0;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all .3s linear;
      z-index: 1;
      color: #333;
      padding: 10px;
      text-decoration: none;
      backface-visibility: hidden; /* prevent jump effect when scaling */

      &:not(.disabled):hover {
        transform: translateY(-50%) scale(1.25);
        cursor: pointer;
      }

      svg polygon {
        fill: map-get($foundation-palette, 'primary');
      }
    }

    &.previousButton {
      left: 20px;
    }

    &.nextButton {
      right: 20px;
    }
  }

  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-size: cover !important;

    .inner {
      padding: 0 70px;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin: 0 auto;
        max-width: 840px;
        color: white;
        text-align: center;
        transition: all 0.3s ease;
        transform: translateY(-20px);
        opacity: 0;
      }

      p {
        margin: 0 auto 30px;
        max-width: 840px;
        color: white;
        text-align: center;
        transition: all 0.3s ease;
        transform: translateY(20px);
        opacity: 0;
      }

      a {
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
        transition: all .5s ease;
        border: none;
        background: map-get($foundation-palette, 'primary');
        border-radius: 30px;
        text-transform: uppercase;
        padding: 15px 40px;
        transition: all 0.3s ease;
        transform: translateY(20px);
        color: black;
      }
    }

    &.animateIn.previous .inner h1,
    &.current .inner h1,
    &.animateIn.next .inner h1,
    &.animateIn.previous .inner button,
    &.current .inner button,
    &.animateIn.next .inner button,
    &.animateIn.previous .inner p,
    &.current .inner p,
    &.animateIn.next .inner p {
      transform: translateX(0);
      transition-delay: .9s;
      opacity: 1;
    }

    &.animateIn.previous .inner p,
    &.animateIn.next .inner p {
      transition-delay: 1.1s;
    }

    &.animateIn.previous .inner button,
    &.animateIn.next .inner button {
      transition-delay: 1.3s;
    }

    &.animateOut .inner h1 {
      transition-delay: .3s;
    }

    &.animateOut .inner p {
      transition-delay: .2s;
    }


    &.hidden {
      visibility: hidden;
    }

    &.previous {
      left: -100%;
    }

    &.current {
      left: 0;
    }

    &.next {
      left: 100%;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
      bottom: 0;
      left: 0;
    }

    &.animateIn,
    &.animateOut {
      transition: all .5s ease;
    }

    &.animateIn {
      &.previous,
      &.next {
        left: 0;
        visibility: visible;
      }
    }

    &.animateOut {
      &.previous {
        left: 100%;
      }

      &.next {
        left: -100%;
      }

      h1 {
        transition-delay: .3s;
      }

      p {
        transition-delay: .2s;
      }
    }
  }
}
